<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stylesheets/default.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/calender.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick up date</title>
</head>

<body>
    <div class="header" style="display: flex;">
        <div class="logo" style="margin: 0 0 0 ">
           
            <h3
                style="text-transform: uppercase;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                q<span style="color: chartreuse;">ü</span>rate</h3>
            
        </div>
        <div class="time" style="display: block;width: 140px;margin-left: auto;"></div>
    </div>
    <div class="" style="float: right;margin-right: 200px;">
        <input type="button" value="<<" class="cal">
        <input type="button" value="today" class="cal">
        <input type="button" value=">>" class="cal">
        
    </div>
    <br>
    <h2 style="text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: black;"
        id="month"></h2>
    <div class="container" style="color: darkslategrey;">
        <div class="days_of_week">
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thur</div>
            <div>Fri</div>
            <div>Sat</div>
            <div>Sun</div>
        </div>
        <div id="box"></div>

        <div id="mark">
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            
        </div>
        <div id="mark">
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
        </div>
        <div id="mark">
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
        </div>
        <div id="mark">
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
        </div>
        <div id="mark">
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
            <div class="date_block"></div>
        </div>

    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    
    <div class="footer">
        <div class="icon">
            <a href="/home"><img src="/images/recipe.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <a href="/"><img src="/images/compass.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <img src="/images/heart.png" style="width: 100px;">
        </div>
        <div class="icon">
            <a href="/cal"><img src="/images/calender.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <a href="/profile"><img src="/images/profile.png" style="width: 100px;"></a>
        </div>
    </div>
    <script src="javascripts/calender.js"></script>
    
</body>

</html>