<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link rel="stylesheet" href="/stylesheets/navigation.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurate</title>
</head>

<body>
    <div class="header">
        <div class="img">
            <img src="/images/PinClipart.com_menu-clip-art_1128307.png"
                style="width: 40px;height: 25px; color: aliceblue; margin-top: 15px; margin-left: 6px;">
        </div>
        <div class="img"
            style="margin : 0 auto; width: 200px; padding: 5px 40px; font-size: xx-large;color: aliceblue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Q<span style="text-transform: uppercase;color: chartreuse;">ü</span>RATE
        </div>
        <div class="img">
            <img src="/images/magnifying-glass.png" style="width: 45px;height: 45px;" id="search">
        </div>
    </div>
<div class="opt">
    <div> <a href="/signup">Sign Up/Log In</a></div>
    <div>Contact Us</div>
    <div>About Us</div>
    <div>Apply To Be A Chief</div>
</div>
    

    <div class="body">

        <img src="./images/Chantilly-Cream-07.jpg" alt="chantilly ice cream"
            style="width: 100%;height: 620px; display: block;margin: 0 auto">
        <br>
        <div class="content">
            <h3><b>Chantilly cream</b></h3>
            <ul>
                <li>Chill some double(heavy) and some milk in the refrigerator</li>
                <li>Mix the well-chilled cream with a third of its volume of very cold milk and whisk until frothy</li>
                <li>Add 6.5-7.5g caster sugar to each 500ml cram, flavour with vanilla extract</li>
                <li>Continue to whip until the ice cream remains in coils of the whisk </li>
                <li>Return to the refrigerator immediately until ready to use</li>
            </ul>
            <br>
            <input type="button" value="ADD TO CART" class="btn">
        </div>
        <br>

        <img src="./images/almond-flour-crepes-2 1.jpg" alt="almond-flour-crepes"
            style="width: 100%;height: 620px; display: block;margin: 0 auto">
        <br>
        <div class="content">
            <h3><b>Almond-flour-crepes</b></h3>
            <ul>
                <li>Prepare some sweet crepe batter and leave it to stand.</li>
                <li>Meanwhile, make some confectioner's custard(pastry cream), adding 75 g ground almonds to each 600 ml
                    custard</li>
                <li>Cook the pancakes and fill them with the almond cream</li>
                <li>Roll them up, arrange them in an oven proof dish, dust with caster sugar, and brown them quickly in
                    a preheated oven at 230 degrees Celsius.</li>

                <br>
                <input type="button" value="ADD TO CART" class="btn">
        </div>
        <br>
        <!--  -->
        <img src="./images/diplomat pudding.jpg" alt="almond-flour-crepes"
            style="width: 100%;height: 620px; display: block;margin: 0 auto">
        <br>
        <div class="content">
            <h3><b>Diplomat pudding</b></h3>
            <ul>
                <li>Coarsely chop 100 g candied fruits.</li>
                <li>Put in a bowl with 75 g raisins and add 100 ml rum. Leave to macerate for 1 hour.</li>
                <li>Butter a 1.5 litre charlotte mould and sprinkle with icing sugar.</li>
                <li>Line the bottom with brioche slices and cover with a layer of the drained macerated fruit, reserving
                    the rum.</li>
                <li>Fill the mould in this way with alternate layers of bread and fruit.</li>
                <li>Beat 200 g caster sugar, 100 ml milk and 1 teaspoon vanilla sugar with 6 eggs and the rum in which
                    the fruit was macerated</li>
                <li>Gradually pour this mixture into the mould, allowing the brioche to soak up the liquid.</li>
                <li>Cook for 1 hour in a bain marie in a pre-heated oven at 150 degrees celsius, make sure the liquid in
                    the bain marie does not come to a boil.</li>
                <li>Allow to cool completely, remove from the mould and serve with crystallized fruit.</li>

                <br>
                <br>
                <input type="button" value="ADD TO CART" class="btn">
        </div>
        <br>
        <!--  -->
        <img src="./images/courgette-flowers 1.jpg" alt="almond-flour-crepes"
        style="width: 100%;height: 620px; display: block;margin: 0 auto">
    <br>
    <div class="content">
        <h3><b>Marrow flower fritters</b></h3>
        <ul>
           <li>Pick very fresh marrow flowers and wash them only if necessary.</li>
           <li>Pat them dry, dip them in a light batter and deep-fry them in hot fat at 180 degrees celsius until golden brown.</li>
           <li>Drain the fritters of the oil by placing them on paper towels, sprinkle with salt and serve very hot as an hors d'oeuvre.</li>
        </ul>
        <h5>(Larousse Gastronomique Vegetables and Salads by Robuchon Joel)</h5>
            <br>
            <input type="button" value="ADD TO CART" class="btn">
    </div>
    <br>


        <!--  -->

        <img src="./images/turnip-gratin1 1.jpg" alt="almond-flour-crepes"
        style="width: 100%;height: 620px; display: block;margin: 0 auto">
    <br>
    <div class="content">
        <h3><b>Turnips au gratin</b></h3>
        <ul>
           <li>Peel some turnips and slice them into rounds.</li>
           <li>Blanch them in boiling salted water, drain and refresh under cold running water and braise in butter.</li>
           <li>Place the turnip rounds in a buttered gratin dish, smooth the top and coat with Mornay sauce.</li>
           <li>Sprinkle with grated cheese and brown in a pre-heated oven at 240 degrees celsius.</li>
        </ul>
       
            <br>
            <input type="button" value="ADD TO CART" class="btn">
    </div>
    <br>

    </div>
    <div class="footer">
        <div class="icon">
            <a href="/home"><img src="/images/recipe.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <a href="/"><img src="/images/compass.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <img src="/images/heart.png" style="width: 100px;">
        </div>
        <div class="icon">
            <a href="/cal"><img src="/images/calender.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <a href="/profile"><img src="/images/profile.png" style="width: 100px;"></a>
        </div>
    </div>
    <!-- search -->
    <form action="" method="get">
        <input type="text" id="search-query">
    </form>
    <!-- <br> -->
    <script src="javascripts/scroll.js"></script>
    <script src="javascripts/search.js"></script>
    <!-- <br> -->
</body>

</html>