<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User credentials</title>
</head>
<style>
    body{padding: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
</style>
<body>
    <h1>Log In</h1><br><br>
    <hr><br>
    <form action="" method="POST">
        Email <br>
        <input type="email" name="email" id="email" required><br><br>
        Password <br>
        <input type="password" name="password" id="password" required>
        <br><br>
        <input type="submit" value="Log in">
    </form>
</body>
</html>