<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/default.css">
    <link rel="stylesheet" href="stylesheets/profile.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username</title>
</head>
<body>
    <div class="container">
        <h3 style="text-transform: uppercase;"> Q<span style="color: chartreuse;">ü</span>rate</h3>
        <!-- Username -->
        <img src="/images/avatar.png" class="img">
        <input type="button" value="SIGN OUT">
        <br><br><br>
        <br><br><br><br><br><br><br>
       <div>Username </div> 
       <div>example@gmail.com</div>
    </div>
<div class="content-body">

    <div class="btns" style="float: left;">
        <br>
        <button>Profile</button><br>
        <button>Orders</button><br>
        <button>Adresses</button><br>
        <button>Payments</button><br>
        <button>Diet</button>
        
    </div>
    <div id="rendered-content"></div>
</div>
<div class="footer">
        <div class="icon">
            <a href="/home"><img src="/images/recipe.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <a href="/"><img src="/images/compass.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <img src="/images/heart.png" style="width: 100px;">
        </div>
        <div class="icon">
            <a href="/cal"><img src="/images/calender.png" style="width: 100px;"></a>
        </div>
        <div class="icon">
            <a href="/profile"><img src="/images/profile.png" style="width: 100px;"></a>
        </div>
    </div>
</body>
</html>